body {
    background: url("rabbit-image-bg.png");
    background-repeat: repeat-y;
}

#header {
    position: fixed;
    width: 100%;
    height: 6em;
    background: url("rabbit-bg-lightpink.png");
    display: flex;
    flex-direction: column;
}
#header-timeline {
    height: 1em;
    display: flex;
    border: 3px solid lightpink;
    border-left: none;
    border-right: none;
    text-align: center;
    color: palevioletred;
    font-family: monospace;
}
#header-timeline > div {
    cursor: help;
}
.timeline-blank {
    background: transparent;
    overflow: hidden;
}
.timeline-full {
    background: lightpink;
}
#header-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: lightpink;
    font-weight: 500;
    font-size: 2em;
    font-family: fantasy;
    cursor: default;
    text-align: center;
}
#subtitle {
    font-size: 0.5em;
}

.arrow-link {
    display: flex;
    align-items: center;
    overflow: hidden;
}
a.arrow-link {
    color: hotpink;
}
span.arrow-link {
    color: gray;
    opacity: 0.5;
    cursor: not-allowed;
}
.arrow-link span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.arrow {
    width: 2.5em;
    height: 2.8em;
}
#go-left .arrow {
    margin-right: 0.2em;
}
#go-right .arrow {
    margin-left: 0.2em;
}

#rabbit-container {
    padding-top: 6em;
}
.rabbit-day {
    display: flex;
}
.day-name {
    display: block;
}
.day-thumbnail {
    display: flex;
    height: 128px;
}
.day-thumbnail > * {
    display: inline-block;
    min-width: 96px;
    background: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    transition: border-color 200ms, border-width 200ms;
    border: 1px solid transparent;
}
.day-thumbnail > a:hover {
    background: transparent;
    border: 5px solid black;
}
.day-thumbnail > a:hover:nth-child(1) {
    border-color: crimson;
}
.day-thumbnail > a:hover:nth-child(2) {
    border-color: crimson;
}
.day-thumbnail > a:hover:nth-child(3) {
    border-color: orange;
}
.day-thumbnail > a:hover:nth-child(4) {
    border-color: orange;
}
.day-thumbnail > a:hover:nth-child(5) {
    border-color: yellow;
    border-right-color: black;
    border-bottom-color: black;
}
.day-thumbnail > a:hover:nth-child(6) {
    border-color: yellow;
    border-right-color: black;
    border-bottom-color: black;
}
.day-thumbnail > a:hover:nth-child(7) {
    border-color: olive;
}
.day-thumbnail > a:hover:nth-child(8) {
    border-color: olive;
}
.day-thumbnail > a:hover:nth-child(9) {
    border-color: aquamarine;
}
.day-thumbnail > a:hover:nth-child(10) {
    border-color: aquamarine;
}
.day-thumbnail > a:hover:nth-child(11) {
    border-color: teal;
    border-top-color: red;
}
.day-thumbnail > a:hover:nth-child(12) {
    border-color: teal;
    border-top-color: red;
}
.day-thumbnail > a:hover:nth-child(13) {
    border-color: cornflowerblue;
}
.day-thumbnail > a:hover:nth-child(14) {
    border-color: cornflowerblue;
}
.day-thumbnail > a:hover:nth-child(15) {
    border-color: darkblue;
}
.day-thumbnail > a:hover:nth-child(16) {
    border-color: darkblue;
}
.day-thumbnail > a:hover:nth-child(17) {
    border-color: blueviolet;
}
.day-thumbnail > a:hover:nth-child(18) {
    border-color: blueviolet;
}
.day-thumbnail > a:hover:nth-child(19) {
    border-color: purple;
}
.day-thumbnail > a:hover:nth-child(20) {
    border-color: purple;
}
.day-thumbnail > a:hover:nth-child(21) {
    border-color: magenta;
}
.day-thumbnail > a:hover:nth-child(22) {
    border-color: magenta;
}
.day-thumbnail > a:hover:nth-child(23) {
    border-color: gray;
}
.day-thumbnail > a:hover:nth-child(24) {
    border-color: gray;
}
